@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}
.slider-width {
  display: flex;
  width: 80% !important;
  margin: 30px auto !important;
}
.product-image {
  height: 100px;
}
.product-content {
  height: 125px;
}
/* .user_name {
  display: inline-flex !important;
} */
#logoutMenu {
  top: 40px;
}
#footer_btn {
  text-align: center;
}
