.start-97 {
    left: 92%!important;
}
.mega-dropdown {
    position: static !important;
  }
  .mega-dropdown-menu {
      padding: 20px 0px;
      width: 90%;
      left: 10px;
      margin-top: 0px;
      margin-left: 50px;
      box-shadow: none;
      -webkit-box-shadow: none;
  }
  .mega-dropdown-menu > li > ul {
    padding: 0;
    margin: 0;
  }
  .mega-dropdown-menu > li > ul > li {
    list-style: none;
  }
  .mega-dropdown-menu > li > ul > li > a {
    display: block;
    color: #222;
    padding: 3px 5px;
  }
  .mega-dropdown-menu > li ul > li > a:hover,
  .mega-dropdown-menu > li ul > li > a:focus {
    text-decoration: none;
  }
  .mega-dropdown-menu .dropdown-header {
    font-size: 18px;
    color: #ff3546;
    padding: 5px 60px 5px 5px;
    line-height: 30px;
  }
  .beauty-pic{
    height: 200px;
    width: auto;
  }
  .navbar-nav ul {
    list-style: none;
  }
  .mega-dropdown a {
    text-decoration: none !important;
    color:rgba(3, 2, 26, 0.6);
    font-weight: 600;
  }
  .navbar-nav li {
    padding: 0px 12px;
    
  }
  #navbarBottom {
    margin-top: 115px;
  }
  .navbarBottomMenu{
    font-size: 15px;
    line-height: 20px;
    font-weight: 500;
    letter-spacing: -0.1px;
    padding: 14px 0 13px;
    color: rgba(3, 2, 26, 0.6);
    border-bottom: 3px solid transparent;
  }
  .navbar-bottom-line {
    border-bottom: solid 1px #e6dede;
  }
 
